<blockquote>
  <p>Bronx is a decentralized platform created with the purpose of disrupting the real estate industry. Bronx revolutionises property holding and transaction in a tokenized form. Bronx provides direct public access to the most current and comprehensive listing of properties for sale using Bronx tokens.

By using blockchain based tokens, we are directly connecting investors with real estate market place. we make it easy to invest in Real Estate.</p>
  <footer><a href="http://bronxbit.com/" target="_blank">bronxbit.com</a></footer>
</blockquote>
