<blockquote>
  <p>PHI Token is the world’s first Robot / Human Asset Management Platform on the Blockchain, set to disrupt a $90 Trillion dollar market-place, by Diaman Capital Limited with 16 Years Experience in Financial Markets.</p>
  <footer><a href="https://www.phitoken.io/" target="_blank">www.phitoken.io/</a></footer>
</blockquote>
