<blockquote>
  <p>RVCI is an open source platform cryptocurrency which will be used by millions of users around the world. Through which you can make instant payments online or in a store.</p>
  <footer><a href="https://http://www.rvci.co" target="_blank">www.rvci.co</a></footer>
</blockquote>
