<blockquote>
  <p>RYSE - MAKING THE EXTRACTION OF CRYPTO CURRENCY AFFORDABLE FOR EVERYONE, REGARDLESS OF EXPERIENCE, THE SIZE OF YOUR INVESTMENT OR TECHNICAL ABILITIES!</p>
  <footer><a href="https://ryse.cc/" target="_blank">RYSE.cc</a></footer>
</blockquote>
