<blockquote>
  <p>XINFIN Foundation is a non-profit organization which liaises with different international governments in order to reduce the existing gap in global infrastructure. According to XinFin, the lack of government sponsored financing hinders the possibility of many infrastructure projects around the globe.

However, by means of creating a secured blockchain transaction platform, XinFin aims to bridge that gap wherein the investors can bid for different infrastructure projects and finance them in a smoother way, thereby avoiding all the issues and paperwork that arises during the process of allocating finance to an infrastructure project happening in a different country. The idea is to leverage the facilities of blockchain platform to connect the investors and the developers in a secure environment thereby allowing them to transact finances against certain secured digital assets.</p>
  <footer><a href="https://xinfin.org" target="_blank">Xinfin.org</a></footer>
</blockquote>
